// Specific CSS for your home-page

// background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('Header1.jpg');

.w-100 {
  width: 100% !important;
  height: 80vh;
}

.main-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-carousel {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))
}

.text-carousel {
  position:absolute;
}

.text-carousel h1 {
  color: white;
  text-shadow: #000 1px 0 9px;
}

.text-carousel p {
  color: white;
  font-size: 20px;
  text-shadow: #000 1px 0 9px;
}


  // structure de la page cf lecture https://kitt.lewagon.com/camps/800/lectures/04-Front-End%2F03-Bootstrap#source

  .main-container {
    display: flex;
  }

  #map {
    height: 100vh;
  }

  .cards {
    flex-grow: 1;
  }
