// Specific CSS for your home-page

// background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('Header1.jpg');

.w-100 {
  width: 100% !important;
  height: 80vh;
}

.main-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-carousel {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.9));
}

.gradient-img {
  mask-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
}


.text-carousel {
  position:absolute;
}

.text-carousel h1 {
  color: white;
  text-shadow: #000 1px 0 5px;
}

.text-carousel p {
  color: white;
  font-size: 20px;
  text-shadow: #000 1px 0 5px;
}



  // structure de la page cf lecture https://kitt.lewagon.com/camps/800/lectures/04-Front-End%2F03-Bootstrap#source


  // .cards {
  //   flex-grow: 1;
  // }

  .container-down {
    margin-top: 3rem;
    margin-bottom: 4rem;
  }


.container-schedule {
  margin-right: 30px;
}
