<br>
<h1>Matériels et équipements pour vos prochaines vacances</h1>

<div class= "main-card">
  <div class="card" style="width: 18rem;">
    <img src="https://media.istockphoto.com/vectors/red-ski-equipment-at-the-ski-resort-vector-id1125105478?k=20&m=1125105478&s=612x612&w=0&h=1iWULry0L-TTp3oZG_bTQXO5TSfm6jPeQlhxSBLBEpE=" class="card-img-top" alt="Montagne">
    <div class="card-body">
      <p class="card-text">
        <h4><%= link_to "Sports d'hiver", products_path %></h4>
        <p>Un voyage à la montagne ? Découvrez tous nos matériels et équipements disponibles pour partir sur les pistes !</p>
      </p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://media.istockphoto.com/vectors/water-sport-vector-people-in-extreme-activity-or-windsurfer-and-set-vector-id950691112?k=20&m=950691112&s=612x612&w=0&h=BUjwHIwIOmxvv_wllt6dwz9X940i-slNjcOkNb-k7p4=" class="card-img-top" alt="Plage">
    <div class="card-body">
      <p class="card-text">
        <h4>Sports nautiques</h4>
        <p>Une envie de surfer ? Découvrez tous nos matériels et équipements disponibles pour partir à la mer ! </p>
      </p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://media.istockphoto.com/vectors/girl-and-beautiful-mountain-landscape-vector-illustration-vector-id1158825778?k=20&m=1158825778&s=612x612&w=0&h=w9YeevQFaNU6Pna7DPLs2bxDLm3-oRX4DoVBqpa1pxc=" class="card-img-top" alt="Plage">
    <div class="card-body">
      <p class="card-text">
        <h4>Randonnées</h4>
        <p>Envie de rando ? Découvrez tous nos matériels et équipements disponibles pour gravir les montagnes !</p>
      </p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://media.istockphoto.com/vectors/football-soccer-player-vector-illustration-set-cartoon-flat-with-vector-id1270704064?k=20&m=1270704064&s=612x612&w=0&h=CeDghKsQjl7H6zb4_1gdSsNL6URrfi0qT--nxZxtYoY=" class="card-img-top" alt="Plage">
    <div class="card-body">
      <p class="card-text">
        <h4>Sports collectifs</h4>
        <p>Un foot entre amis ? Découvrez tous nos matériels et équipements disponibles pour assurer sur le terrain !</p>
      </p>
    </div>
  </div>
</div>
