<%= render "shared/navbar_home" %>
<div class="banner">
  <div class="container p-5">
  <br>
  <br>
  <h1>No Sweat brings you all sports stuff to you</h1>
  <p>Don't waste your money, pay for what you use !</p>
  <%= render "shared/search_bar" %>
  </div>
</div>
<%= render "card" %>
<%= render "test_modal" %>
