.main-card {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  overflow-x: scroll;

  a {
    color: #000;
    text-decoration: none;
  }

}

.card {
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  opacity: 1;
  margin-right: 10px;


}


.card:hover {
  box-shadow: 0 10px 15px 0 rgba(33, 158, 188, 0.3);
  opacity: 1;
}

.card-img-top {
  width: 100%;
  height: 35vh;
}

.container {
  padding-top: 16px;
  padding-bottom: 60px;
}

.card-product-show-mini img {
  margin: 0px;
  opacity: 0.9;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);

  &:hover {
    opacity: 1;
  }
}

.card-mini {
  display: inline;
  list-style: none;

}
.card-product-show .right-card {
  display: inline-block;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);


}

.card-product-show img {
  margin-right: 35px;
  margin-bottom: 2px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  float: left;
}



.card-product-info {
  max-width: 600px;
  h4 {
    font-weight: bold;
  }
  h6 {
    font-style: italic;
  }
padding-left: 25px;
padding-right: 25px;

}

.card-product-info-schedule {
  margin-top: 45px;
}

.card-product-info .avatar {
  width: 45px;
  border-radius: 50%;

}

.card-product {
  position: relative;
}
.card-product p {
  position: absolute;
  top: 10%;
  left: 50%;
  font-weight: bold;

}

.user-choice {
  margin-top: 35px
}

.other-text {
padding-bottom: 15px;
}
