.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
  height: 60px;
  border: 1px solid grey;
  border-radius: 20px;

}

.h4 {
  font-weight: 450;
  margin: 5px 0px 0px 5px;
}
.h5 {
  font-weight: 300;
  margin: 5px 0px 0px 5px;
}
