<%= render "shared/navbar" %>
<br>
<br>
<p>Bienvenue <%= @email %>!</p>

<p>Confirmes ton comptes :</p>

<p><%= link_to 'Confirmer mon compte', confirmation_url(@resource, confirmation_token: @token) %></p>
