<%= render "shared/navbar" %>

<div class="container my-5">

<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product_path(product) %>
      <%# product.photos.each do |photo| %>
        <%= cl_image_tag(product.photos.first.key,
        width: 400, height: 300, crop: :fill) %>
      <%# end %>
    </li>
  <% end %>

</ul>

  <% if policy(Product).create? %>
    <%= link_to "Add a product", new_product_path %>
  <% end %>
</div>
